<div class="container head">
  <h1>Task List</h1>
  <%= link_to "Create", tasks_new_path(@task) %>
</div>

<div class="container">
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <div> <%= "<strong>Task:</strong> #{task.description}".html_safe %></div>
        <div class="details">
          <%= "<strong>Complete?</strong> #{task.complete}".html_safe %>
          <%= link_to "Edit", task_path(task) %>
          <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
